/*
Syntax error: Undefined mixin 'shadow-box'.
        on line 28 of /home/jole/personal/blog/octopress/sass/plugins/_flickr.scss, in `shadow-box'
        from line 28 of /home/jole/personal/blog/octopress/sass/plugins/_flickr.scss
        from line 3 of /home/jole/personal/blog/octopress/sass/screen.scss
        from line 10 of /home/jole/personal/blog/octopress/sass/screen.scss

Backtrace:
/home/jole/personal/blog/octopress/sass/plugins/_flickr.scss:28:in `shadow-box'
/home/jole/personal/blog/octopress/sass/plugins/_flickr.scss:28
/home/jole/personal/blog/octopress/sass/screen.scss:3
/home/jole/personal/blog/octopress/sass/screen.scss:10
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:253:in `visit_mixin'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:320:in `visit_rule'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `block in visit_import'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `map'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:227:in `visit_import'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `block in visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `map'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:53:in `visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:109:in `block in visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:121:in `with_environment'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:108:in `visit_children'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `block in visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:128:in `visit_root'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/base.rb:37:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:100:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/visitors/perform.rb:7:in `visit'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/tree/root_node.rb:20:in `render'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/engine.rb:315:in `_render'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/sass-3.2.9/lib/sass/engine.rb:262:in `render'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:140:in `block (2 levels) in compile'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:139:in `block in compile'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/logger.rb:45:in `red'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:138:in `compile'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:118:in `compile_if_required'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:103:in `block (2 levels) in run'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `each'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:101:in `block in run'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:126:in `timed'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/compiler.rb:100:in `run'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/commands/update_project.rb:45:in `perform'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/commands/base.rb:18:in `execute'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/commands/project_base.rb:19:in `execute'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/bin/compass:30:in `block in <top (required)>'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/bin/compass:44:in `call'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/gems/compass-0.12.2/bin/compass:44:in `<top (required)>'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/bin/compass:23:in `load'
/home/jole/.ruby_vmanager/gemsets/1.9/ruby-1.9.3-p484/default/bin/compass:23:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Syntax error: Undefined mixin 'shadow-box'.\A         on line 28 of /home/jole/personal/blog/octopress/sass/plugins/_flickr.scss, in `shadow-box'\A         from line 28 of /home/jole/personal/blog/octopress/sass/plugins/_flickr.scss\A         from line 3 of /home/jole/personal/blog/octopress/sass/screen.scss\A         from line 10 of /home/jole/personal/blog/octopress/sass/screen.scss"; }
